attrs==21.2.0
execnet==1.9.0
importlib-metadata==4.8.1
iniconfig==1.1.1
packaging==21.0
pluggy==1.0.0
psutil==5.8.0
py==1.10.0
py-cpuinfo==8.0.0
pymediainfo==5.1.0
pyparsing==2.4.7
pytest==6.2.5
pytest-benchmark==3.4.1
pytest-forked==1.3.0
pytest-json-report==1.4.0
pytest-metadata==1.11.0
pytest-xdist==2.0.0
six==1.14.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
zipp==3.5.0
conan==1.47.0
ffmpeg-python==0.2.0
scipy==1.7.3
pynvml==11.4.1
markupsafe==2.0.1
