[flake8]
max_line_length = 100
extend-ignore = E501,W503
per-file-ignores =
    src/func_tests/test_functions/__init__.py: F401,F811
    conanfile.py: E711
    conan/ffmpeg/conanfile.py: E713,E127

[pycodestyle]
max_line_length = 100
ignore = W503,E128,E127
per-file-ignores =
    src/func_tests/test_functions/__init__.py: F401,F811
    conanfile.py: E711
    conan/ffmpeg/conanfile.py: E713,E127
