/_*/
perf.data*
*.log
*.orig
compile_commands.json
/.clangd/
/.cache/
__pycache__
.pytest_cache
env

*.sublime-project
*.sublime-workspace
.vscode
.vs
.benchmarks
.codechecker
.scannerwork
.report.json
cache.vnsc


.DS_Store

/build/
/build_*/
src/env/
