/_*/
perf.data*
*.log
*.orig
compile_commands.json
/.clangd/
/.cache/
__pycache__
test_cache
test_outputs
dec_test_results*.json
env
.idea

*.sublime-project
*.sublime-workspace
.vscode
.vs
*.TMP
.benchmarks
.codechecker
.scannerwork
.report.json

.DS_Store

/build/
/build_*/
src/env/
